:root {
    --backgroundColor: #968c83;
    --foregroundColor: #45373c;
    --black: #20111b;
    --red: #be100e;
    --green: #858162;
    --yellow: #eaa549;
    --blue: #426a79;
    --purple: #97522c;
    --cyan: #989a9c;
    --white: #d5ccba;
    --brightBlack: #5e5252;

    --color-base-100: oklch(92.951% 0.002 17.197);
    --color-base-200: oklch(86.445% 0.002 17.197);
    --color-base-300: oklch(79.938% 0.001 17.197);
    --color-base-content: oklch(16.961% 0.001 17.32);
    --color-primary: oklch(50% 0.134 242.749);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(48.495% 0.11 355.095);
    --color-secondary-content: oklch(89.699% 0.022 355.095);
    --color-accent: oklch(56.273% 0.054 154.39);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(24.155% 0.049 89.07);
    --color-neutral-content: oklch(92.951% 0.002 17.197);
    --color-info: oklch(72.06% 0.191 231.6);
    --color-info-content: oklch(0% 0 0);
    --color-success: oklch(64.8% 0.15 160);
    --color-success-content: oklch(0% 0 0);
    --color-warning: oklch(84.71% 0.199 83.87);
    --color-warning-content: oklch(0% 0 0);
    --color-error: oklch(71.76% 0.221 22.18);
    --color-error-content: oklch(0% 0 0);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;


    --console-line-height: 12px;
    /* --opColor: var(var(--yellow));
    --funcColor: var(--purple);
    --varColor: var(--red);
    --constColor: var(--blue); */
}

/*font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Segoe UI Symbol";*/
html, body {
    background-color: var(--color-base-200);
    color: var(--color-base-content);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Firacode Nerd Font;
    margin: 20px;
    position: fixed;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#main {
    align-content: center;
    min-width: 60%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tabs {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    align-content: center;
}

.tabs-list {
    display: flex;
    width: fit-content;
    box-sizing: border-box;
    flex: 1;
    flex-direction: row;
    padding: 0.25rem;
    border: none;
    border-radius: 0.5rem;
    gap: 0.25rem;
    background-color: var(--foregroundColor);
    color: var(--white);
}

.tabs-trigger {
    padding: 4px 8px;
    border: none;
    border-radius: calc(0.5rem - 0.25rem);
    background: none;
    /* color: var(--secondary-color-5); */
    cursor: pointer;
    color: var(--white);
}

/* Large text boxes --------------------------------------- */
.exprInput {
    padding: 15px;
    border-radius: var(--radius-box);
    border-color: var(--color-base-300);
    border-width: var(--border);
    border: none;
    width: 100%;
    min-height: 8rem;
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
    font-family: Firacode Nerd Font;
    font-size: 16px;
    box-sizing: border-box;
    background-color: var(--color-base-100);
    overflow-wrap: break-word;
    text-align: start;
}
.exprInput:focus {
    outline: 2px solid var(--color-base-content);
    outline-offset: 2px;
    isolation: isolate;
}

.renderLatex {
    border-radius: var(--radius-box);
    border-color: var(--color-base-300);
    border-width: var(--border);
    background-color: var(--color-base-100);
    min-height: 4rem;
}

.console {
    padding: 15px;
    border-radius: var(--radius-box);
    border-color: var(--color-base-300);
    border-width: var(--border);
    width: 100%;
    font-family: Firacode Nerd Font;
    font-size: 16px;
    box-sizing: border-box;
    background-color: var(--color-neutral);
    color: var(--color-neutral-content);
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-block-end: 20px;
    padding-block-start: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
}

.consoleMessage {
    font-family: ui-monospace;
    color: var(--color-neutral-content);
    line-height: var(--console-line-height);
    height: var(--console-line-height);
    padding: 0px 20px 0px 0px;
}
.consoleMessage::before {
    content: ">";
    text-align: right;
    opacity: .5;
    width: 2rem;
    display: inline-block;
    font-family: ui-monospace;
    color: var(--color-neutral-content);
    line-height: var(--console-line-height);
    height: var(--console-line-height);
    padding: 0px 20px 0px 0px;
    margin-right: 15.3945px;
}

.numberResult {
    padding: 16px;
    border-radius: var(--radius-box);
    border-color: var(--color-base-300);
    border-width: var(--border);
    min-width: 80%;
    height: 20%;
    box-sizing: border-box;
    background-color: var(--color-base-300);
    font-size: 42;
}

/* Variable input styles and buttons ----------------------------- */
.varInputList {
    padding: 15px;
    border-radius: var(--radius-box);
    border-color: var(--color-base-300);
    border-width: var(--border);
    border: none;
    width: 100%;
    min-height: 4rem;
    font-family: Firacode Nerd Font;
    font-size: 16px;
    box-sizing: border-box;
    background-color: var(--color-base-100);
    overflow-wrap: break-word;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputElement {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    gap: 8px;
}

.varInput {
    padding: 5px;
    min-width: 70px;
    flex-grow: 1;
    border-radius: var(--radius-field);
    border-color: var(--color-base-300);
    border-width: var(--border);
    font-family: Firacode Nerd Font;
    font-size: 16px;
    box-sizing: border-box;
    background-color: var(--color-base-100);
}
.varInput:focus {
    outline: 2px solid var(--color-base-content);
    outline-offset: 2px;
    isolation: isolate;
}

.ctxMenuArea {
    min-width: 100px;
    flex-grow: 1;
}

.validValueBox {
    padding: 5px;
    border-radius: var(--radius-field);
    border-color: var(--color-base-300);
    border-width: var(--border);
    box-sizing: border-box;
    font-size: 16;
    background-color: var(--color-base-100);
}
.validValueBox:focus {
    outline: 2px solid var(--color-base-content);
    outline-offset: 2px;
    isolation: isolate;
}

.invalidValueBox {
    padding: 5px;
    border-radius: var(--radius-field);
    border-color: var(--color-base-300);
    border-width: var(--border);
    box-sizing: border-box;
    font-size: 16;
    background-color: var(--color-error);
}
.invalidValueBox:focus {
    outline: 2px solid var(--color-base-content);
    outline-offset: 2px;
    isolation: isolate;
}

.removeVariable {
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16;
    border-radius: var(--radius-field);
    background-color: var(--color-primary);
    border: none;
    color: var(--color-primary-content);
}

.addVariable {
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    line-height: 21px;
    height: 40px;
    width: 160px;
    outline-offset: 2px;
    padding-block-end: 0px;
    padding-block-start: 0px;
    padding-bottom: 0px;
    padding-inline-end: 16px;
    padding-inline-start: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0px;
    row-gap: 6px;
    border-radius: var(--radius-field);
    border-width: 0ptx;
    border-style: solid;
    border: none;
    background-color: var(--color-accent);
    color: var(--color-accent-content);
    box-shadow: none;
}

.x_select_btn {
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    line-height: 21px;
    height: 40px;
    width: 160px;
    outline-offset: 2px;
    padding-block-end: 0px;
    padding-block-start: 0px;
    padding-bottom: 0px;
    padding-inline-end: 16px;
    padding-inline-start: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0px;
    row-gap: 6px;
    border-radius: var(--radius-field);
    border-width: 0ptx;
    border-style: solid;
    border: none;
    background-color: var(--color-accent);
    color: var(--color-accent-content);
    box-shadow: none;
}



/* Variable input styles --------------------------------------- */

.tokenList {
    margin: 10px;
}

.vstack {
    display: flex;
    flex-direction: column;
    position: relative;
    align-content: center;
}

.hstack {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
}


.button {
    border-radius: 0.5rem;
}
.xSelectable {
    background-color: var(--white);
    color: var(--black);
}
.xSelected {
    background-color: var(--blue);
    color: var(--yellow);
}
 .xNotSelectable {
    background-color: var(--white);;
    color: var(--green);
}



.mermaid {
    justify-content: "center";
}


.token {
    font-weight: 700 ;
    border-width:2px;
    padding: 3px;
    border-style:solid;
    border-radius: 5px;
    border-color:var(--brightBlack);
}

.opToken {
    background-color: var(--yellow);
    color: var(--foregroundColor);
}
.varToken {
    background-color: var(--red);
    color: var(--white);
}
.commonToken {
    background-color: var(--cyan);
    color: var(--foregroundColor);
}
.constToken {
    background-color: var(--blue);
    color: var(--white);
}
.funcToken {
    background-color: var(--purple);
    color: var(--white);
}

/* Mermaid node classes*/
.mmdVar > rect {
    fill: #ff0000;
    stroke: var(--foregroundColor);
    stroke-width: 4px;
}
.mmdConst > rect {
    fill: #ff0000;
    stroke: var(--foregroundColor);
    stroke-width: 4px;
}
.mmdOp > rect {
    fill: #ff0000;
    stroke: var(--foregroundColor);
    stroke-width: 4px;
}
.mmdFunc > rect {
    fill: #ff0000;
    stroke: var(--foregroundColor);
    stroke-width: 4px;
}
